[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"beautifulsoup4" = "*"
requests = "*"
selenium = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
